<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">企業ブース詳細</h4>
</div>
<div class="modal-body">
  <ul class="pager">
    <li class="previous" ng-show="hasPrevCkigyo()">
      <a href="javascript:void(0);" ng-click="showPrevCkigyo()">
        &larr; {{ prev_ckigyo.kigyo_no }}
      </a>
    </li>
    <li class="next" ng-show="hasNextCkigyo()">
      <a href="javascript:void(0);" ng-click="showNextCkigyo()">
        {{ next_ckigyo.kigyo_no }}&rarr;
      </a>
    </li>
  </ul>

  <h3>{{ ckigyo.full_info }}</h3>

  <div class="panel panel-default" ng-show="ckigyo.ckigyo_links.length > 0">
    <div class="panel-heading">リンク</div>
    <div class="list-group">
      <a href="{{ link.url }}"
         class="list-group-item"
         target="_blank"
         ng-repeat="link in ckigyo.ckigyo_links">
        {{ link.url }}
      </a>
    </div>
  </div>

  <div class="panel panel-default modal-ckigyo-checklists" ng-show="ckigyo_checklists.length > 0">
    <div class="panel-heading">チェックリスト</div>
    <ul class="list-group">
      <li class="list-group-item ckigyo-checklist"
          style="border-left-color: {{ checklist.color }};"
          ng-repeat="checklist in ckigyo_checklists">
        <div class="comment">
          <span class="glyphicon glyphicon-comment"></span> {{ checklist.comment }}
        </div>
        <div class="cost">
          <span class="glyphicon glyphicon-usd"></span> {{ checklist.cost }}
        </div>
      </li>
    </ul>
  </div>
  <% if user_signed_in? %>
    <div class="alert alert-info" ng-hide="ckigyo_checklists.length > 0">
      <%= t('views.ckigyos.show_modal_template.blank_checklist_message') %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('views.ckigyos.show_modal_template.register_message') %><br>
      <%= link_to t('views.users.sign_up'), new_user_registration_path, class: 'btn btn-default btn-xs' %>
      <%= link_to t('views.users.sign_in'), new_user_session_path, class: 'btn btn-default btn-xs' %>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <button class="btn btn-navy" ng-click="close()">
    <%= t('views.ckigyos.show_modal_template.btn_close') %>
  </button>
</div>
