<!-- .btn-group -->
<div class="btn-group btn-group-justified checklists-functions">
  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="reloadCheckLists()">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-sort"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="javascript:void(0);" ng-click="setListOrder('-id')">Id</a></li>
      <li><a href="javascript:void(0);" ng-click="setListOrder('carea_id')">Carea</a></li>
      <li><a href="javascript:void(0);" ng-click="setListOrder('day')">Day</a></li>
      <li><a href="javascript:void(0);" ng-click="setListOrder('circle_name')">CircleName</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="toggleCreateFormActive()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-map-marker"></span>
    </button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-download-alt"></span>
    </button>
  </div>
</div>
<!-- //.btn-group -->

<div class="panel panel-default" ng-show="create_form_active">
  <div class="panel-heading">
    <h3 class="panel-title">CreateCcirckeChecklist</h3>
  </div>
  <div class="panel-body">
    <%= render 'ccircle_checklists/form_create' %>
  </div>
</div>

<!-- .ccircle-checklists -->
<ul class="media-list ccircle-checklists">
  <li class="media checklist"
      ng-repeat="checklist in ccircle_checklists | orderBy:list_order"
      data-id="{{ checklist.id }}">
    <!-- .media-body -->
    <div class="media-body" style="border-left-color: {{ checklist.color }};">
      <h4 class="media-heading">
        {{ checklist.fullInfo() }}
      </h4>
      <div class="circle-url">
        <i class="fa fa-link"></i> <a ng-href="checklist.circle_url" target="_blank">{{ checklist.circle_url }}</a>
      </div>
      <div class="comment">
        <i class="fa fa-comment-o"></i> {{ checklist.comment }}
      </div>
      <div class="cost">
        <i class="fa fa-jpy"></i> {{ checklist.cost }}
      </div>
      <div class="functions">
        <span class="pull-right">
          <div class="btn btn-default btn-xs">
            <i class="fa fa-share-alt"></i> share
          </div>
          <div class="btn btn-default btn-xs" ng-click="checklist.form.update = !checklist.form.update">
            <i class="fa fa-pencil"></i> edit
          </div>
          <div class="btn btn-default btn-xs" ng-click="checklist.form.destroy = !checklist.form.destroy">
            <i class="fa fa-trash-o"></i> delete
          </div>
        </span>
      </div>
    </div>
    <!-- //.media-body -->
    <form class="form-update-ccircle-checklist"
          ng-show="checklist.form.update"
          onSubmit="return false;">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="form-group">
            <label><%= CcircleChecklist.human_attribute_name(:day) %></label>
            <select name="day"
                    data-ng-options="day.key as day.value for day in checklist.days"
                    class="form-control"
                    data-ng-model="checklist.day">
            </select>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="form-group">
            <label><%= Carea.model_name.human %></label>
            <select name="carea_id"
                    data-ng-options="a.id as a.name for a in checklist.careas"
                    class="form-control"
                    data-ng-model="checklist.carea_id">
            </select>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="form-group">
            <label><%= Cblock.model_name.human %></label>
            <select name="cblock_id"
                    data-ng-options="b.id as b.name for b in checklist.cblocks"
                    class="form-control"
                    data-ng-model="checklist.cblock_id">
            </select>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="form-group">
            <label><%= Clayout.model_name.human %></label>
            <select name="clayout_id"
                    data-ng-options="l.id as l.space_no for l in checklist.clayouts"
                    class="form-control"
                    data-ng-model="checklist.clayout_id">
            </select>
          </div>
        </div>
      </div>
      <!-- //.row -->
      <div class="form-group">
        <label><%= CcircleChecklist.human_attribute_name(:circle_name) %></label>
        <input class="form-control"
               name="circle_name"
               type="text"
               data-ng-model="checklist.circle_name">
      </div>
      <div class="form-group">
        <label><%= CcircleChecklist.human_attribute_name(:circle_url) %></label>
        <input class="form-control"
               name="circle_url"
               type="text"
               data-ng-model="checklist.circle_url">
      </div>
      <div class="form-group">
        <label><%= CcircleChecklist.human_attribute_name(:comment) %></label>
        <input class="form-control"
               name="comment"
               type="text"
               data-ng-model="checklist.comment">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label><%= CcircleChecklist.human_attribute_name(:cost) %></label>
            <input class="form-control"
                   name="cost"
                   type="text"
                   data-ng-model="checklist.cost"
                   integer>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label><%= CcircleChecklist.human_attribute_name(:color) %></label>
            <checklist-colorpicker ng-model="checklist.color"></checklist-colorpicker>
          </div>
        </div>
      </div>
      <div class="btn btn-update btn-block" ng-click="updateCheckList(checklist)">Update</div>
    </form><!-- //form -->
    <form class="form-destroy-ccircle-checklist" ng-show="checklist.form.destroy">
      <div class="btn btn-delete btn-block" ng-click="destroyCheckList(checklist)">Destroy</div>
    </form><!-- //form -->
  </li>
</ul>
<!-- //.ccircle-checklists -->
