<% set_page_sub_title t('views.c1circles.index.title', comic1_id: @comic1.id) %>

<%= render 'share/page_title' %>

<div class="row">
  <div class="col-md-2">
    <%= render 'c1circles/form_search' %>
  </div>
  <!-- //.col -->
  <div class="col-md-5">
    <%= render 'c1circles/c1circles', comic1: @comic1 %>
  </div>
  <!-- //.col -->
  <div class="col-md-5">
    <% unless user_signed_in? %>
      <div class="alert alert-info">
        <%= t('views.c1circles.index.register_message') %><br>
        <%= link_to t('views.users.sign_up'), new_user_registration_path, class: 'btn btn-default' %>
        <%= link_to t('views.users.sign_in'), new_user_session_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <!-- //.col -->
</div>
