<!DOCTYPE html>
<html lang="ja" ng-app="ComiGuideApp">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="description" content="<%= t('views.layouts.application.description') %>" />
  <meta name="keywords" content="<%= t('views.layouts.application.keywords') %>" />

  <meta property="og:title" content="ComiGuide<%= " | #{yield(:title)}" if content_for?(:title) %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:image" content="https://comiguide.net/assets/eyecatch.jpg"/>
  <meta property="og:site_name" content="<%= Settings.site_name %>"/>
  <meta property="og:description" content="<%= t('views.layouts.application.description') %>"/>
  <meta property="og:locale" content="ja_JP"/>

  <meta name="twitter:creator" content="@umatoma">
  <meta name="twitter:card" content="summary_large_image">

  <title>ComiGuide<%= " | #{yield(:title)}" if content_for?(:title) %></title>

  <%= favicon_link_tag '/assets/favicon.ico' %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <% @page_stylesheets.each do |style| %>
    <%= stylesheet_link_tag style %>
  <% end %>

  <%= javascript_include_tag 'application' %>
  <% @page_scripts.each do |script| %>
    <%= javascript_include_tag script %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47712427-1', 'auto');
    ga('send', 'pageview');
  </script>
<% end %>

<%= render 'layouts/header' %>

<div id="<%= uniq_view_id %>" class="content-main-wrapper <%= controller_view_class %>">
  <%= render 'layouts/flash' %>
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

<%= render 'layouts/modal' %>

<back-to-top></back-to-top>

</body>
</html>
